NEXT_PUBLIC_SUPABASE_URL=https://msfvnupduomxpgxazorw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zZnZudXBkdW9teHBneGF6b3J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzMjMwMjMsImV4cCI6MjEwNDg5OTAyM30.1GzbNOm8neQrnwUtL390qLFTvSb33OHcricNu1NpKRo
